pipeline/pip_Incremental_Copy_Data.json
{
	"name": "pip_Incremental_Copy_Data",
	"properties": {
		"activities": [
			{
				"name": "Get Last Control Load Date",
				"description": "Last Load Date is pulled from Control Table.",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT max([LastLoadDate]) as LastLoadDate\nFROM [source].tblControl\nWHERE [TableName] LIKE '%tbluser%';",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_source_Table_tblControl",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Get Max Modified Date User",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select max([Last_m]) as Last_m\nfrom [source].tbluser",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_source_Table_tbluser",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Copy data incremental",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Get Last Control Load Date",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Get Max Modified Date User",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT * FROM source.tbluser\nWHERE Last_m >\n'@{activity('Get Last Control Load Date').output.firstRow.LastLoadDate}'\nAND\nLast_m <=\n'@{activity('Get Max Modified Date User').output.firstRow.Last_m}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_AzureSqlTable_Data",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_dest_Table_userData",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "SP Update Last Control Load Date",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy data incremental",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[source].[SPUpdateLoadInfo]",
					"storedProcedureParameters": {
						"ModifiedDate": {
							"value": {
								"value": "@activity('Get Max Modified Date User').output.firstRow.Last_m",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"TableName": {
							"value": "tblControl",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase_Source",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2026-02-08T19:36:05Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}